<footer class="bg-main">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center">
    <span class="text-sm text-center text-sub">© 2025 uidola
    </span>
  </div>
</footer>