<footer class="bg-nord-6 mt-40">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center">
    <span class="text-sm text-center text-main">© 2025 whigdrap
    </span>
  </div>
</footer>