---
interface Props {
  title: string
  id: string
}

const { title, id } = Astro.props
---

<h3 id={ id } class="relative text-sm md:text-lg font-bold text-center mt-15">
	<span class="relative z-10 px-4">{ title }</span>
</h3>