---
import '../styles/global.css' 
import Footer from '../components/Footer.astro';
---
<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>uidolaのプロフィール</title>
	</head>
	<body class="bg-sub bg-fixed tracking-wider">
		<slot />
		<Footer/>
	</body>
</html>
